# Server
PORT=3000
APP_URL=http://localhost:3000
TRUSTED_REFERRERS=pansa.my.id,localhost

# Database
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=streamdb

# Redis
REDIS_URL=redis://127.0.0.1:6379

# Telegram
TG_BOT_TOKEN=123456:ABCDEF

# Storage
STORAGE_PROVIDER=local        # local | s3
HLS_OUTPUT_DIR=storage/hls

# S3 (kalau pakai s3)
S3_ENDPOINT=https://sgp1.digitaloceanspaces.com
S3_BUCKET=my-bucket
S3_REGION=sgp1
S3_KEY=DO_SPACES_KEY
S3_SECRET=DO_SPACES_SECRET

# FFmpeg
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
